{{!-- change the name of the partial ! --}}

<card class="card-img-top card-space">
    <div class="card-div" draggable="false">
        {{!-- fix it so that there is a link for devices/id --}}
        <a href={{location}} class="d-flex flex-column align-content-center">


            <div class="p-2">
                <h6 class="text-truncate--2"><strong>ID: {{id}}</strong></h6>
                <p class="text-truncate--3"><small>Status: {{status}}</small></p>
                <p class="text-truncate--3"><small>Serial: {{serial}}</small></p>
                {{#if battery}}
                <p><small>Available battery: {{battery}}</small></p>
                {{/if}}
            </div>
        </a>
    </div>
</card>