<div class="card-img-top card-space" draggable="false">
  <a
    href="/device_info/{{data.serial}}"
    class="d-flex flex-column align-content-center"
  >
    <div class="p-2">
      <h6 class="text-truncate--2"><strong>ID: {{data.d_id}}</strong></h6>
      <p class="text-truncate--3"><small>Status: {{data.status}}</small></p>
      <p class="text-truncate--3"><small>Serial: {{data.serial}}</small></p>
      <p class="text-truncate--3"><small>Available Battery:
          {{data.battery}}</small></p>
      <p class="text-truncate--3"><small>Device Type: {{data.type}}</small></p>
      {{#if data.u_id}}
        <p><small>User assigned: {{data.u_id}}</small></p>
        <p><small>First name: {{data.first_name}}</small></p>
      {{/if}}
    </div>
  </a>
</div>

