<div class="row">
    <div class="col" id="author">
        <h5 class="p-title" id="author-h"><strong>Serial</strong></h5>
        <p class="p-info" id="author-p">{{ device.serial }}</p>
    </div>
    <div class="col" id="publisher">
        <h5 class="p-title" id="publisher-h"><strong>Device</strong></h5>
        <p class="p-info" id="publisher-p">{{ device.type }}</p>
    </div>
    <div class="col" id="edition">
        <h5 class="p-title" id="edition-h"><strong>Battery</strong></h5>
        <p class="p-info" id="edition-p">{{ device.battery }}</p>
    </div>
    
    <div class="col" id="genre">
        <h5 class="p-title" id="genre-h"><strong>Status</strong></h5>
        <p class="p-info" id="genre-p">{{ device.status }}</p>
    </div>
    {{!-- <div class="col" id="release">
        <h5 class="p-title" id="release-h"><strong>Release</strong></h5>
        <p class="p-info" id="release-p">{{ device.release }}</p>
    </div>
    <div class="col" id="language">
        <h5 class="p-title" id="language-h"><strong>Language</strong></h5>
        <p class="p-info" id="language-p">{{ device.language }}</p>
    </div>
    <div class="col" id="isbn">
        <h5 class="p-title" id="isbn-h"><strong>ISBN</strong></h5>
        <p class="p-info" id="isbn-p">{{ device.isbn }}</p> --}}
    </div>
</div>