<card class="card-img-top card-space">
    <div class="card-div" draggable="false">
        <a href={{location}} class="d-flex flex-column align-content-center">
            {{#if photo}}
            <img class="rounded-corners card-img-class" src={{photo}} alt="photo" draggable="false">
            {{else}}
            <img class="rounded-corners card-img-class" src="/img/card_book_default.jpg" alt="Photo Not Found"
                draggable="false">
            {{/if}}
            <div class="p-2">
                <h6 class="text-truncate--2"><strong>{{title}}</strong></h6>
                <p class="text-truncate--3"><small>{{description}}</small></p>
                {{#if copies}}
                <p><small>Available Copies: {{copies}}</small></p>
                {{/if}}
            </div>
        </a>
    </div>
</card>