<script src="javascript/user_profile.js" defer></script>

{{>header}}

<main>

  {{!-- make it better at a later date --}}

  <div class="pageborder">

    <div class="row align-items-center">
      <!-- card -->
      <div class="col justify-self-center align-items-center scale">
        {{>membershipCard name=profile.first_name surname=profile.last_name id=profile.u_id}}
      </div>

      <!-- Personal information -->
      <div class="profile_info col">
        <div class="d-flex flex-wrap align-items-center">
          <h2><strong>{{profile.first_name}} {{profile.last_name}}</strong></h2>
          <form action="/sign_out" method="get">
            <input class="button-purple justify-self-end" type="submit" value="Sign Out">
          </form>

        </div>
        <div class="profileInfoDetails">
          <h6><strong>ID</strong></h6>
          <p>{{profile.u_id}}</p>
          <h6><strong>Role</strong></h6>
          <p>{{profile.role}}</p>
          <h6><strong>Phone</strong></h6>
          <p>{{profile.phone}}</p>
        </div>
      </div>
    </div>
    
    {{#if isAdmin}}

    {{> assigning_device }}

    {{/if}}
    

    {{#if assigned_tracker_info }}
    {{log assigned_tracker_info}}
    {{/if}}

    {{#if assigned_tracker}}
        <h6><strong>Assigned Devices </strong></h6>
        {{> card battery=100 status=assigned_tracker.status d_id=assigned_tracker.d_id serial=assigned_tracker.serial type=assigned_tracker.type}}                    
        {{!-- {{> card battery=100 }}                     --}}
    {{/if}}

    {{#if assigned_button}}
    
        {{> card battery=100 status=assigned_button.status d_id=assigned_button.d_id serial=assigned_button.serial type=assigned_button.type }}                    
    {{/if}}

    
    {{!-- display past trips --}}
    {{!-- show date and duration --}}

</main>