<div class="filters d-flex flex-column justify-content-start " id="{{categoryFilter}}-filter">
    {{!-- this is for now without listeners --}}
    <h3>{{category}}</h3>

    {{#each list}}
    <div class="form-check">

        <input type="checkbox" class="form-check-input filter-checkbox {{../categoryFilter}} " value="" id="{{name}}">
        <label for="{{name}}" class="form-check-label">{{name}}</label>
    </div>

    {{/each}}

</div>
{{#if list_all}}
<div class="div-show-more">
    <p class="btn-show-more" id="btn-{{categoryFilter}}-show-more">Show More</p>
    <div class="scrollable-show-more collapsed" id="{{categoryFilter}}-filter-more">
        {{#each list_all}}
        <div class="form-check">
            <input type="checkbox" class="form-check-input filter-checkbox {{../categoryFilter}}" value=""
                id="{{name}}">
            <label for="{{name}}" class="form-check-label text-truncate--1 ">{{name}}</label>
        </div>

        {{/each}}
    </div>
</div>
{{/if}}